.Tablet {


  --color-accent-background: var(--color-neutral-800);

  &[kesh-dialog] {
    /* --color-accent-background: var(--color-neutral-700); */

    border-radius: 12px;
    border: 1px solid var(--color-neutral-800);
    overflow: hidden;
    background-color: rgb(from var(--color-neutral-900) r g b / 0.8);
  }

  [kesh-list] {
    padding: .75rem .5rem;
  }


  .InputContainer {
    height: 48px;
    position: relative;
    border-bottom: 1px solid var(--color-neutral-800);
  }

  [kesh-input] {
    line-height: 1.25rem;
    outline: none;
    font-size: inherit;
    color: var(--color-text);
    padding-left: 2.25rem;
    height: 100%;
  }

}
