
.Tablet {
  --color-accent-background: var(--color-neutral-200);


  &[kesh-dialog] {
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(from var(--color-neutral-400) r g b / 0.7);
  }

  [kesh-list] {
    padding: .75rem .5rem;
  }

  .SearchIcon {
    color: var(--color-text);
  }

  .InputContainer {
    height: 48px;
    position: relative;
    border-bottom: 1px solid var(--color-neutral-400);
  }

  [kesh-input] {
    line-height: 1.25rem;
    outline: none;
    font-size: inherit;
    color: var(--color-text);
    padding-left: 2.25rem;
    height: 100%;
  }

}

:global(.dark) .Tablet {
  --color-accent-background: var(--color-neutral-700);

  &[kesh-dialog] {
    border: 1px solid var(--color-neutral-800);
    background-color: rgb(from var(--color-neutral-900) r g b / 0.8);
  }

  .InputContainer {
    border-bottom: 1px solid var(--color-neutral-800);
  }
}
